/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #282938;

$mainColor: #E4DFDC;
$headingColor: #E4DFDC;

$mainFontSize: 36px;
$mainFont:                                                                                                                                                                     'PT Sans', sans-serif;
$headingFont: 'Noto Serif NP Hmong', serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;
$headingLineHeight: 1;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );

$heading1Size: 1.4em;
$heading2Size: 1em;
$heading3Size: 0.7em;
$heading4Size: 0.4em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
    .slides {
    	text-align: center;
 
 		.inner-slide-left2 {
 			margin-left: -10rem;
 			margin-top: -2rem;
 			width: 75%;

 			hr{
 				margin-bottom: 0.5rem;
 			}
 		}

		.inner-slide-left {
			width: 60%;
		}

		.inner-slide-right {
			margin-left: 32rem;
			width: 64%;
		}

		hr {
			border: 4px solid #71B2DA;
			margin-bottom: 2rem;
			width: 200px;
		}

		h1 {
			margin-bottom: 2rem;

			&.large {
				font-size: 2em;
			}
		}

		.subheading {
			font-family: 'PT Sans', sans-serif;
			font-size: 46px;
			line-height: 1;
			margin: 0rem auto 4rem;
			max-width: 70%;
		}

		.large-text {
			font-size: 33px;
		}

		p.neg-margin {
			line-height: 1;
			margin: -1rem 0 0 0 !important;
		}

		.tab-right {
			font-size: 24px;
			margin-left: 7rem !important;
		}

		.blank {
			span {
				color: #70B1DA;
				font-size: 46px;
				font-weight: 700;
				text-decoration: underline;
			}
		}

		.normal-text {
			font-weight: 400;
			font-style: normal;
			color: #E4DFDC;
		}

		.definition {
			color: #faf8bf;
			font-size: 25px;
			margin-top: 2rem;
			margin-bottom: 0.5rem;
			font-weight: 700;
			text-align: left;
		}

		.definition2 {
			font-size: 22px;
			margin-top: 0.25rem;
			text-align: left;
		}

		ul {
			list-style: none;

			&.dashlist {
				text-align: left;

				li:before {
					content: "\2013";
					font-size: 30px;
					margin-top: 0;
					margin-left: -26px;
				}
			}

			li:before {
				content: "\2022"; 
				color: #faf8bf;
				font-size: 40px;
				margin-left: -30px;
				margin-right: 10px;
				margin-top: -5px;
				position: absolute;
			}

			&.inline {
				display: inline-flex;
				list-style: none;
				text-align: center;

				li {
					color: white;
					line-height: 1 !important;
					margin-right: 0.5rem;

					&:before {
						content: none;
					}
				}

				hr {
					border: 3px solid #484C68;
					margin: 1rem auto 0.5rem;
					width: 90%;
				}

				span {
					color: #E4DFDC;
					font-size: 24px;
					line-height: 1;
				}
			}

			&.stats-list {
				list-style: none;
				margin-top: -1.5rem;
				text-align: left;

				li {
					font-size: 27px;
					line-height: 1;
					margin-top: 1rem;

					&:before {
						content: none;
					}

					p {
						line-height: 1;
						margin: 0.25rem 0;
					}

					.stat {
						color: #71B2DA; 
						font-size: 44px;
						font-weight: 700;
						text-align: left;
					}
				}
			}

			&.stats-list-2 {
				margin-top: 0rem !important;
			}

			&.footnotes {
				list-style: none;
				margin-top: 2rem;
				text-align: left;
				font-size: 18px !important;

				li {
					font-size: 18px;
					font-style: italic;
					line-height: 1;
					margin-top: 0.25rem;
				}
			}

			&.col-two {
				column-count: 2;
				font-size: 30px;
				display: block;
			}
		}

		img {
			&.img-top {
				max-width: 500px;
			}

			&.img-icon {
				display: block;
				margin: 0 auto 10px;
				max-width: 90px
			}
		}

		.slide1 {

			.inner-slide-left {
				margin-left: -7rem;
			}

			h2 {
				margin-top: 3rem;
			}

			p {
				margin: 0.5rem 0;
			}
		}

		sup {
			color: $linkColor;
			font-size: 12px;
		}

		.footnotes sup {
			color: #E4DFDC;
		 }

		 .footnote {
		 	font-size: 18px;
		 	font-style: italic;
		 	font-weight: normal;
		 	margin-top: -1rem;
		 	margin-right: 13rem;
		 	text-align: right;
		 }

		.slide2 {
			text-align: center;

			.inner-slide-left {
				width: 70%;
				margin: -3rem 0 0 -6.5rem;
			}

			ul {
				columns: 2;

				li {
					line-height: 1.1;
					margin-top: 1rem;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		.slide3 {

			hr {
				margin-bottom: 2rem;
			}
		}

		.slide-types {
			margin-left: 9rem;
			margin-top: -2rem;

			h1 {
				font-size: 62px;
				margin: 0 auto 1rem;
				width: 50%;
			}

			ul.inline {
				margin: 0 0 0 1em;

				li {
					font-size: 29px;
					max-width: 20%;

					&:first-child,
					&:last-child {
						margin-top: -3.5rem;
					}

					&:nth-child(2),
					&:nth-child(4) {
						margin-top: 3rem;
					}

					&:nth-child(3) {
						margin-top: 7rem;
					}

					ul {
						margin: 0 !important;

						li {
							color: #E4DFDC;
							font-size: 24px;
							margin: 12px 0 0 0 !important;
							min-width: 100%;
							text-align: center;

							&:first-child {
								margin-top: 15px !important;
							}
						}
					}
				}
			}
		}
	}

	.slide-stats-img {

		.slide-stats-img-1 {
			max-width: 60%;
		}

		.slide-stats-img-2,
		.slide-stats-img-3,
		.slide-stats-img-4,
		.slide-stats-img-5,
		.slide-stats-img-6,
		.slide-stats-img-7, {
			max-height: 475px;
			position: absolute;
			top: 20px
		}

		.slide-stats-img-2 {
			left: 250px
		}

		.slide-stats-img-3 {
			left: 370px
		}

		.slide-stats-img-4 {
			left: 490px
		}

		.slide-stats-img-5 {
			left: 610px
		}

		.slide-stats-img-6 {
			left: 730px
		}

		.slide-stats-img-7 {
			left: 850px
		}
	}

	.slide-benefits {
		ul {
			font-size: 30px;
			text-align: left;

			li {
				line-height: 1.1;
				margin-top: 1.5rem !important;

				span {
					color: #faf8bf;
					font-weight: bold;
					font-style: italic;
				}
			}
		}

		ul.col-two {
			column-count: 2;
			font-size: 30px;
			display: block;
			margin-left: 3rem;
			margin-top: 1rem;

			li {
				font-size: 28px;
				margin-top: 0.75rem !important;

				&:before {
					content: "\2022" !important; 
				}

				&:first-child {
					margin-top: 0rem !important;
				}	
			}
		}
	}

	.slide-benefits-company {

		ul {
			column-count: 2;

			li {
				line-height: 1.1;
				margin-top: 1rem;

				&:first-child {
					margin-top: 0;
				}

			}
		}
	}

	.slide-factors {
		ul li {
			font-size: 30px;
			margin-top: 0.75rem;

			span {
				font-style: italic;
				font-size: 26px;
			}
		}
	}

	.slide-assistive {

		.inner-slide-right {

			p {

			}

			ul {
				font-size: 28px;
				line-height: 1.1;
				text-align: left;

				li {
					margin-top: 1.5rem;

					ul {
						margin-top: 1.5rem;

						li {
							&:first-child {
								margin-top: 0rem;
							}
						}
					}
				}
			}
		}
	}

	.slide-device {
		font-size: 26px;
		text-align: left;

		h1 {
			font-size: 42px;
			text-align: center;
		}

		.compare {
			display: inline-block;
			margin-top: 2rem;
			width: 40%;

			ul {
				margin-top: 0rem;
				margin-right: 1rem;
				vertical-align: top;
				li {
					line-height: 1;
					margin-top: 0.75rem;;
				}
			}
		}
	}

	.slide-wcag {
		ul.inline {
			margin-top: 0;
			margin-bottom: 2rem;

			li {
				font-size: 24px;
				margin: 0.5rem 1rem;
			}
		}
	}

	.slide-terms {
		ul li {
			margin-top: 1rem;
		}
	}

	.compare {
		display: inline-block;
		margin-top: 1rem;
		margin-right: 0rem;
		width: 23%;
		vertical-align: top;

		ul {
			margin-top: 0rem;
			margin-right: 1rem;
			vertical-align: top;

			li {
				line-height: 1;
				margin-top: 0.75rem;
			}
		}
	}

	.slide-content {
		ul {
			font-size: 28px;

			li {
				margin-top: 1rem;
				margin-right: 2rem;
			}
		}

		&.content {
			ul li {
				margin-right: 2rem;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	.credits {
		ul li:before {
			content: none;
		}
	}

	.fragment.highlight-green.visible {
		color: #8ee87f;
	}
}
