/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@500);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$white: #fff;
$black: #000;
$offwhite: #e4dfdc;
$dkblue: #484c68;
$green: #8ee87f;
$orange : #d58238;
$ltyellow: #faf8bf;
$yellow: #f1fa8c;
$purple: #d7bdff;
$pink: #ffb6c1;
$ltpink:#f4dad9;
$plum: #dda0dd;
$blue: #71b2da;
$grey: #888E99;
$ltgrey: #b4b4b4;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #282938;
$mainColor: $offwhite;
$headingColor: $white;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );


$mainFontSize: 34px;
$mainFont: 'PT Sans', sans-serif;
$headingFont: 'Noto Serif NP Hmong', serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;
$headingLineHeight: 1.1;

$heading1Size: 68px;
$heading2Size: 48px;
$heading3Size: 38px;
$heading4Size: 30px;


// Vertical spacing between blocks of text
$blockMargin: 1rem;
$blockMargin2: 2rem;

$negMargin: -1rem;
$negMargin2: -2rem;

$centerMargin: 0 auto;
$centerBlockMargin: 0 auto 3rem;


// Headings
$headingMargin: 0 0 $blockMargin2 0;


@mixin topgap() {
	margin-top: 3rem;
}

@mixin center {
	display: block;
	margin: 0 auto;
}

@mixin list {
	list-style: none;
	margin-top: 1rem;
	text-align: left;

	li {
		line-height: 1.1;
		margin-top: 0.75rem;

		&:before {
			color: $ltyellow;
			font-size: 40px;
			margin: -5px 10px 0 -30px;
			position: absolute;
		}
	}

	hr {
		border: 3px solid $dkblue;
		margin: 1rem auto 0.5rem;
		width: 90%;
	}

	span {
		color: $offwhite;
		line-height: 1;
	}
}

@mixin list-circle {
	li {
		&:before {
			content: "\2022" !important;
		}
	}
}

@mixin list-dash {
	margin-left: 0;

	li {
		&:before {
			content: "\2013" !important;
			font-size: 30px;
			margin: 0 10px 0 -26px;
		}
	}
}

@mixin list-check {
	li {
		&:before {
			color: $green;
			content: "\2714";
			font-size: 26px;
			margin: 6px 0px 0 -32px;
		}
	}
}

@mixin list-pointer {
	li {
		&:before {
			content: "\25b8";
		}
	}
}

@mixin list-pushpin {
	li {
		&:before {

		}
	}
}

@mixin list-x {
	li {
		&:before {
			content: "\2718";
		}
	}
}

@mixin list-none {
	list-style: none;
	margin-top: -1.5rem;
	text-align: left;

	li {
		font-size: 25px;
		line-height: 1;
		margin-top: 1.25rem;

		&:before {
			content: none;
		}

		p {
			font-size: 28px;
			margin: 0;
			line-height: 1;
		}

		span {
			font-size: 28px;
		}
	}
}

@mixin list-across {
	display: inline-flex;
	text-align: center;

	li {
		color: $white;
		line-height: 1;
		margin-right: 0.5rem;

		&:before {
			content: none;
		}
	}
}

@mixin list-col-two {
	column-count: 2;
	display: block;

	li {
		line-height: 1.1;
		margin: 1rem 1rem 0 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

@mixin list-col-three {
	column-count: 3;
	display: block;

	li {
		line-height: 1.1;
		margin: 1rem 1rem 0 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

@mixin list-definition {
	li {
		font-size: 22px;
		margin: 2rem 0 0.5rem;		

		span {
			color: $ltyellow;
			display: block;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 0.25rem;
		}
	}
}

@mixin list-inline-block {
	display: inline-block;
	list-style: none;
	margin: 0 0 0 1em;
	text-align: center;
}

@mixin list-inline {
	display: inline-flex;
	list-style: none;
	margin: 0 0 0 1em;
	text-align: center;

	li {
		color: $white;
		font-size: 28px;
		line-height: 1 !important;
		margin-right: 0.5rem;		
		max-width: 20%;

		ul.list.list-dash {
			li {
				color: $offwhite;
				font-size: 24px;
				margin: 15px 0 0 0 !important;
				min-width: 100%;
				text-align: center;

				&:before {
					font-size: 26px;
					margin: -1px 0px 0 -18px;
				}

				&:first-child {
					margin-top: 15px !important;
				}
			}
		}
	}
}

@mixin screen-reader {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: $grey;
		clip: auto !important;
		clip-path: none;
		color: $black;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}


// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {

	.sr-text {
		@include screen-reader;
	}

    .slides {

    	h1 {
    		color: $plum;
    		text-align: center;
    	}

    	hr {
			border: 4px solid $blue;
			margin-bottom: 2rem;
			width: 200px;
		}

    	a {
    		background-image: linear-gradient(to bottom, $dkblue 0%, $dkblue 100%);
			-webkit-background-position: 0% 110%;
			background-position: 0% 110%;
			background-repeat: repeat-x;
			-webkit-background-size: 0px 0px;
			background-size: 0px 0px;
			border-radius: 2px;
			-webkit-transition: color 150ms,background-size 150ms;
			transition: color 150ms,background-size 150ms;
			padding: 0px 5px;
    		text-decoration: underline;
    		text-underline-offset: 5px;

			&:hover {
				-webkit-background-size: 2px 100%;
				background-size: 2px 100%;
				-webkit-text-decoration: none;
				text-decoration: none;
				z-index: 1;
			}

			&:focus {
				outline: 2px solid $linkColor;
				outline-offset: 2px;
				text-decoration: none;
			}
		}

 		.inner-slide {
 			display: flex !important;
			flex-direction: column;

			&.content-left {
				align-items: start;
			}

 			&.content-right {
				align-items: end;
			}
 		}

 		.max-26 { max-width: 27% !important; }
		.max-35 { max-width: 35%; }
 		.max-40 { max-width: 40%; }
 		.max-45 { max-width: 45%; }
		.max-50 { max-width: 50%; }
		.max-55 { max-width: 55%; }
		.max-60 { max-width: 60%; }
		.max-64 { max-width: 64%; }
		.max-70 { max-width: 70%; }
		.max-75 { max-width: 75%; }
		.max-80 { max-width: 80%; }
		.max-85 { max-width: 80%; }
		.max-90 { max-width: 90%; }
		.max-92 { max-width: 92%; }
		.max-95 { max-width: 95%; }

		.maxpx-80 { max-width:80px }
		.maxpx-100 { max-width:100px }
		.maxpx-200 { max-width:200px }
		.maxpx-300 { max-width:300px }
		.maxpx-350 { max-width:350px }
		.maxpx-375 { max-width:375px }
		.maxpx-400 { max-width:400px }
		.maxpx-450 { max-width:450px }

		.m0 { margin: 0 !important; }
		.mt0 { margin-top: 0 !important; }
		.mb0 { margin-bottom: 0 !important; }
		.ml0 { margin-left: 0 !important;}
		.mr0 { margin-right: 0 !important; }
		.mtb0 { margin-top: 0 !important; margin-bottom: 0 !important;}

		.mt0-5 { margin-top: 0.5rem !important; }
		.mt1 { margin-top: 1rem !important; }
		.mt1-5 { margin-top: 1.5rem !important; }
		.mt2 { margin-top: 2rem !important; }
		.mt3 { margin-top: 3rem !important; }
		.mt4 { margin-top: 4rem !important; }
		.mt7 { margin-top: 7rem !important; }

		.mt-5px { margin-top: -5px;}

		.mb07-5 { margin-bottom: 0.75rem !important;; }
		.mb0-5 { margin-bottom: 0.5rem !important;; }
		.mb1 { margin-bottom: 1rem !important; }
		.mb1-5 { margin-bottom: 1.5rem !important; }
		.mb2 { margin-bottom: 2rem !important; }
		.mb3 { margin-bottom: 3rem !important; }
		.mb4 { margin-bottom: 4rem !important; }


		.ml1 { margin-left: 1rem !important; }
		.ml2 { margin-left: 2rem !important; }
		.ml3 { margin-left: 3rem !important; }
		.ml4 { margin-left: 4rem !important; }
		.ml5 { margin-left: 5rem !important; }
		.ml6 { margin-left: 6rem !important; }
		.ml6-5 { margin-left: 6.5rem !important; }
		.ml7 { margin-left: 7rem !important; }
		.ml8 { margin-left: 8rem !important; }
		.ml8-5 { margin-left: 8.5rem !important; }
		.ml9 { margin-left: 9rem !important; }
		.ml11 { margin-left: 11rem !important; }
		.ml13-5 { margin-left: 13.5rem !important; }

		.mr1 { margin-right: 1rem !important; }
		.mr2 { margin-right: 2rem !important; }
		.mr3 { margin-right: 3rem !important; }
		.mr4 { margin-right: 4rem !important; }

		.m1 { margin: 1rem !important; }
		.m2 { margin: 2rem !important; }
		.m3 { margin: 3rem !important; }
		.m3 { margin: 4rem !important; }

		.mt-0-5 { margin-top: -0.5rem !important; }
		.mt-1 { margin-top: -1rem !important; }
		.mt-2 { margin-top: -2rem !important; }
		.mt-3 { margin-top: -3rem !important; }
		.mt-3 { margin-top: -3rem !important; }
		.mt-3-5 { margin-top: -3.5rem !important; }
		.mt-4 { margin-top: -4rem !important; }
		.mt-5 { margin-top: -5rem !important; }
		.mt-6 { margin-top: -6rem !important; }
		.mt-7 { margin-top: -7rem !important; }
		.mt-8 { margin-top: -8rem !important; }
		.mt-9 { margin-top: -9rem !important; }
		.mt-12 { margin-top: -12rem !important; }
		.mt-13 { margin-top: -13rem !important; }
		.mt-18 { margin-top: -18rem !important; }

		.mb-1 { margin-bottom: -1rem !important; }
		.mb-2 { margin-bottom: -2rem !important; }
		.mb-3 { margin-bottom: -3rem !important; }
		.mb-4 { margin-bottom: -4rem !important; }

		.ml-1 { margin-left: -1rem !important; }
		.ml-2 { margin-left: -2rem !important; }
		.ml-3 { margin-left: -3rem !important; }
		.ml-4 { margin-left: -4rem !important; }
		.ml-5 { margin-left: -5rem !important; }

		.mr-1 { margin-right: -1rem !important; }
		.mr-2 { margin-right: -2rem !important; }
		.mr-3 { margin-right: -3rem !important; }
		.mr-4 { margin-right: -4rem !important; }
		.mr-5 { margin-right: -5rem !important; }
		.mr-6 { margin-right: -6rem !important; }
		.mr-7 { margin-right: -7rem !important; }
		.mr-8 { margin-right: -8rem !important; }
		.mr-9 { margin-right: -9rem !important; }


		.size65 { font-size: 65px !important; }
		.size60 { font-size: 60px !important; }
		.size55 { font-size: 55px !important; }
		.size50 { font-size: 50px !important; }
		.size45 { font-size: 45px !important; }
		.size40 { font-size: 40px !important; }
		.size35 { font-size: 35px !important; }
		.size32 { font-size: 32px !important; }
		.size30 { font-size: 30px !important; }
		.size29 { font-size: 29px !important; }
		.size28 { font-size: 28px !important; }
		.size27 { font-size: 27px !important; }
		.size26 { font-size: 26px !important; }
		.size25 { font-size: 25px !important; }
		.size24 { font-size: 24px !important; }
		.size22 { font-size: 22px !important; }
		.size20 { font-size: 20px !important; }
		.size19 { font-size: 19px !important; }
		.size18 { font-size: 18px !important; }
		.size17 { font-size: 17px !important; }
		.size16 { font-size: 16px !important; }

		.upperc { text-transform: uppercase; }
		.lowerc { text-transform: none; }

		.white { color: $white !important; }
		.offwhite { color: $offwhite !important; }
		.ltyellow { color: $ltyellow !important; }
		.yellow { color: $yellow !important; }
		.purple { color: $purple !important; }
		.pink { color: $pink !important; }
		.plum { color: $plum !important; }
		.blue { color: $blue !important; }
		.green { color: $green !important; }
		.ltgrey { color: $ltgrey !important; }

		.alignleft { text-align: left; }
		.alignright { text-align: right; }
		.aligncenter { text-align: center; }
		.center { @include center; }
		.vatop { vertical-align: top; }
		.vacenter { vertical-align: middle; }
		.normal { font-style: normal; font-weight: 400; }

		.img-right { float: right; margin: 1rem 0 1rem 2rem}

		.bold { font-weight: 700; }
		.italic { font-style: italic; }
		.underline { text-decoration: underline; text-underline-offset: 3px; }

		ul {
			hr {
				border: 3px solid $dkblue;
				margin: 1rem auto 0.5rem;
				width: 90%;				
			}

			&.list { @include list; }
			&.list-circle { @include list-circle; }
			&.list-dash { @include list-dash; }
			&.list-check { @include list-check; }
			&.list-pointer { @include list-pointer; }
			&.list-pushpin { @include list-pushpin; }
			&.list-x { @include list-x; }			
			&.list-across { @include list-across; }
			&.list-col-two { @include list-col-two; }
			&.list-col-three { @include list-col-three; }
			&.list-definition { @include list-definition; }
			&.list-inline { @include list-inline; }
			&.list-none { @include list-none; }
		}

		.compare {
			display: inline-block;
			vertical-align: top;

			ul {
				margin-top: 0rem;
				vertical-align: top;

				li {
					line-height: 1;
					margin-top: 0.75rem;;
				}
			}
		}	

		.subheading {
			font-size: 45px;
			color: $ltyellow;
			font-family: $mainFont;
			line-height: 1;
		}

		.list-heading {
			color: $white;
			font-family: $headingFont;
			font-size: 28px;
			margin-bottom: 0.5rem;
		}

		.continued {
			color: $plum;
			display:block;
			font-size: 32px;
			font-style: italic;
			margin-left: 3rem;
			margin-top: 0;
			text-align: left;
		}

		.stat {
			color: $blue !important; 
			font-size: 44px !important;
			font-weight: 700;
			text-align: left;
		}

		.toptext {
			color: $ltyellow !important;
			font-style: italic !important;

		}

		.icon::before {
			display: none;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased; 
		}

		.icon-img {
			display: block;
			margin: 0.5rem auto;
		}

		.bottom-img {
			max-height: 115px;
		}

		.top-img {
			max-height: 150px;
			margin-top: -1rem;
			margin-bottom: -4rem;
		}

		.on-top {
			z-index: 9999;
		}
		ul ul {
			list-style-type: none;
		}

		.tip {
			// color: $white;
			font-size: 22px;

			span {
				color: $ltyellow !important;
				font-weight: bold;
			}
		}

		sup {
			color: $linkColor;
			font-size: 12px;
		}

		.footnotes sup {
			color: $offwhite;
		 }

		.footnote {
		 	font-size: 18px;
		 	font-style: italic;
		 	font-weight: normal;
		 	line-height: 1.3;;
		 	margin-right: 13rem;
		 	margin-top: -1rem;
		 	text-align: right;
		}

		.slide-glossary {
			font-size: 24px;
			text-align: left;

			h1 {
				text-align: center;
			}

			p {
				line-height: 1.2;
			}

			ul li {
				color: $offwhite;
				line-height: 1.2;

				&:before {
					color: $blue;
					font-size: 34px;
					margin: -8px 6px 0 -22px;
				}
				p span {
					color: $ltyellow;
					text-decoration: underline;
				}
			}
		}

// Specific slide styles.

		#a11y {
			.line1 {
				p {
					line-height: 1;
					span {
						margin-right: 22rem;
					}
				}
			}
			.line2 {
				p {
					letter-spacing: 12px;
					margin-left: 12px;
					margin-top: -4.15rem;
				}
			}
			.line3 {
				margin-top: -2.75rem;
				span {
					margin-right: 17rem;
					margin-top: -3.25rem;
				}
			}
			.line4 {
				p {
					margin-top: -2.75rem;
				}
			}
			.line5 {
				letter-spacing: 8px;
				margin-top: -1.25rem;
			}
		}


		ul.list-postit {
			display: inline-block;
			margin-top: -2rem;
			position: relative;
			text-align: center;

			li {
				display: inline-block;
				font-size: 21px;
				margin: 2rem 0.5rem -0.5rem;
				margin-top: 2rem;
				vertical-align: top;

				img {
					&.defimg {
						position: absolute;

						&.defimg1 {
							bottom: -150px;
							left: 53px;
							max-width: 160px;
							transform: rotate(1deg);
						}

						&.defimg2 {
							bottom:-140px;
							left: 310px;
							max-width: 220px;
							transform: rotate(-1deg);
						}

						&.defimg3 {
							bottom: -110px;
							max-width: 175px;
							right: 42px;
							transform: rotate(-1deg);

						}
					}
				}

				.postit-single {
					background-color: $ltyellow;
					-webkit-box-shadow: -2px 9px 15px -2px rgba(0,0,0,1);
					-moz-box-shadow: -2px 9px 15px -2px rgba(0,0,0,1);
					box-shadow: -2px 9px 15px -2px rgba(0,0,0,1);
					color: $dkblue;
					min-height: 235px;
					padding: 10px;
					text-align: center;
					width: 235px;

					&:before {
						content: "\1f4cc";
						font-size: 24px;
						background-color: transparent;
						color: darkblue;
						display: block;
						font-size: 40px;
						font-weight: 700;
					}

					span {
						color: $dkblue;
						display: block;
						font-size: 23px;
						margin-bottom: 1.25rem;
						margin-top: 0.5rem;
					}

					hr {
						border-bottom: 1px solid $dkblue !important;
						margin-bottom: 0.75rem;
						width: 65%;
					}

					p.digital {
						font-size: 18px !important;
						font-style: italic;
						margin: 1rem 0 0 !important;
					}
				}

				&:first-child {
					margin-top: 2rem !important;

					.postit-single {
						background-color: $purple;
						transform: skewY(1deg);

						p {
							font-size: 43px;
							margin-top: -42px;
							margin-bottom: -0.73rem;
							margin-left: -3rem;
							font-weight: 700;
						}

						&:before {
							margin: -45px 0 0 -76px;
							transform: rotate(-80deg);
						}
					}
				}

				&:nth-child(2) {
					margin-top: 6rem !important;

					.postit-single {
						background-color: $pink;
						transform: skewY(-1deg);

						p {
							font-size: 42px;
							margin-top: -34px;
							margin-bottom: -1.2rem;
							margin-left: 4.68rem;
							font-weight: 700;
						}

						&:before {
							margin: -50px 0 0 58px;
							transform: rotate(-63deg);
						}
					}
				}

				&:last-child {
					margin-top: 2rem;
					margin-left: 1rem;

					.postit-single {
						p {
							font-size: 42px;
							margin-top: -39px;
							margin-bottom: -1rem;
							margin-left: 0.15rem;
							font-weight: 700;
						}

						&:before {
							margin: -45px 0 0 -18px;
							transform: rotate(-70deg);
						}
					}
				}
			}
		}


		#persona {
			img {
				outline: 1px solid $plum;
			}
		}

		#stats-chart {
			div {
				position: relative;
			}
			.slide-stats-img-2,
			.slide-stats-img-3,
			.slide-stats-img-4,
			.slide-stats-img-5,
			.slide-stats-img-6,
			.slide-stats-img-7, {
				max-height: 475px;
				position: absolute;
				top: -20px
			}
			.slide-stats-img-2 {
				left: 370px
			}
			.slide-stats-img-3 {
				left: 485px
			}
			.slide-stats-img-4 {
				left: 600px
			}
			.slide-stats-img-5 {
				left: 715px
			}
			.slide-stats-img-6 {
				left: 830px
			}
			.slide-stats-img-7 {
				left: 940px
			}
		}

		code {
			color: $white;
			padding: 0 5px;
		}

		.slide-content,
		.slide-design {
			width: 100%;

			h1 {
				font-size: 56px;
			}

			h2 {
				font-size: 22px;
				margin-bottom: 0.5rem;
			}

			.all-lists {
				margin: 0 auto;
			}

			.compare {
				border: 1px solid $grey;
				margin-top: 1rem;
				min-height: 210px;
				padding: 15px;
				width: 46%;

				p {
					font-size: 18px;
					margin:0;
				}

				ul {
					margin: 0 !important;
					width: 85%;

					li:before {
						font-size: 32px;
						margin-left: -22px;
						margin-top: -7px;
						margin-right: 0;
					}
				}
			}

			ul {
				font-size: 26px;
				margin-top: -2rem;

				li {
					font-size: 20px;
					margin-top: 1rem;
					margin-right: 1.5rem;
				}
			}

			&.content {
				ul li {
					margin-right: 2rem;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		#make {
			h1 {
				margin: 0 auto 2rem;
				width: 70%;
			}

			ul li {
				margin-top: 1rem;
			}
		}

		.slide-development {
			.compare {
				min-height: 400px;
			}
		}

		.slide-testing {
			.compare {
				width: 48%;

				h1 {
					font-size: 50px;
				}

				p {
					margin-bottom: 0;
					margin-top: 0;
				}

				ul {
					margin-top: 1rem;

					li {
						font-size: 24px;
					}
				}
			}
		}

		.credits {
			ul li:before {
				content: none;
			}
		}

		#glossary {
			ul.dashlist {
				margin: 0;

				li {
					font-size: 18px;
					margin-top: 0.5rem;
				}
			}
		}

		.fragment.highlight-green.visible {
			color: $green;
		}

		.fragment.highlight-red {
			color: $blue !important;
		}
	}
}



@-webkit-keyframes move {
	0% {
		transform: translate(2000px, 500px);
	}
	20% {
		transform: translate(1500px, 300px);
	}
	40% {
		transform: translate(1000px, 375px);
	}
	60% {
		transform: translate(650px, 320px);
	}
	80% {
		transform: translate(350px, 380px);
	}
	100% {
		transform: translate(0px, 200px);
	}
}

@keyframes diagonal-move-anim {
	0% {
		transform: translate(2000px, 500px);
	}
	20% {
		transform: translate(1500px, 300px);
	}
	40% {
		transform: translate(1000px, 375px);
	}
	60% {
		transform: translate(650px, 320px);
	}
	80% {
		transform: translate(350px, 380px);
	}
	100% {
		transform: translate(0px, 200px);
	}
}

#superman {
	-webkit-animation: diagonal-move-anim 5s linear;
	animation: diagonal-move-anim 5s infinite linear;
	animation-delay: 0s;
	top: -410px;
	left: -400px;
	max-height: 350px;
	position: absolute;
}
