/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@500);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$white: #fff;
$black: #000;
$offwhite: #e4dfdc;
$dkblue: #484c68;
$green: #8ee87f;
$orange : #d58238;
$ltyellow: #faf8bf;
$yellow: #f1fa8c;
$purple: #d7bdff;
$pink: #ffb6c1;
$ltpink:#f4dad9;
$plum: #dda0dd;
$blue: #71b2da;
$grey: #888E99;
$ltgrey: #b4b4b4;
$blue1: #2D7DAE;
$blue2: #23638B;
$blue3: #1A4965;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #282938;
$mainColor: $offwhite;
$headingColor: $white;
$linkColor: #88CDFC;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );


$mainFontSize: 34px;
$mainFont: 'PT Sans', sans-serif;
$headingFont: 'Noto Serif NP Hmong', serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;
$headingLineHeight: 1.1;

$heading1Size: 68px;
$heading2Size: 48px;
$heading3Size: 38px;
$heading4Size: 30px;


// Vertical spacing between blocks of text
$blockMargin: 1rem;
$blockMargin2: 2rem;

$negMargin: -1rem;
$negMargin2: -2rem;

$centerMargin: 0 auto;
$centerBlockMargin: 0 auto 3rem;


// Headings
$headingMargin: 0 0 $blockMargin2 0;


@mixin topgap() {
	margin-top: 3rem;
}

@mixin center {
	display: block;
	margin: 0 auto;
}

@mixin list {
	list-style: none;
	margin-top: 1rem;
	text-align: left;

	li {
		line-height: 1.1;
		margin-top: 0.75rem;

		&:before {
			color: $ltyellow;
			font-size: 40px;
			margin: -5px 10px 0 -30px;
			position: absolute;
		}
	}

	hr {
		border: 3px solid $dkblue;
		margin: 1rem auto 0.5rem;
		width: 90%;
	}

	span {
		color: $offwhite;
		line-height: 1;
	}
}

@mixin list-circle {
	li {
		&:before {
			content: "\2022" !important;
		}
	}
}

@mixin list-dash {
	margin-left: 0;

	li {
		&:before {
			content: "\2013" !important;
			font-size: 30px;
			margin: 0 10px 0 -26px;
		}
	}
}

@mixin list-check {
	li {
		&:before {
			color: $green;
			content: "\2714";
			font-size: 26px;
			margin: 6px 0px 0 -32px;
		}
	}
}

@mixin list-pointer {
	li {
		&:before {
			content: "\25b8";
		}
	}
}

@mixin list-pushpin {
	li {
		&:before {

		}
	}
}

@mixin list-x {
	li {
		&:before {
			content: "\2718";
		}
	}
}

@mixin list-none {
	list-style: none;
	margin-top: -1.5rem;
	text-align: left;

	li {
		font-size: 25px;
		line-height: 1;
		margin-top: 1.25rem;

		&:before {
			content: none;
		}

		p {
			font-size: 28px;
			margin: 0;
			line-height: 1;
		}

		span {
			font-size: 28px;
		}
	}
}

@mixin list-across {
	display: inline-flex;
	text-align: center;

	li {
		color: $white;
		line-height: 1;
		margin-right: 0.5rem;

		&:before {
			content: none;
		}
	}
}

@mixin list-col-two {
	column-count: 2;
	display: block;

	li {
		line-height: 1.1;
		margin: 1rem 1rem 0 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

@mixin list-col-three {
	column-count: 3;
	display: block;

	li {
		line-height: 1.1;
		margin: 1rem 1rem 0 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

@mixin list-definition {
	li {
		font-size: 22px;
		margin: 2rem 0 0.5rem;		

		span {
			color: $ltyellow;
			display: block;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 0.25rem;
		}
	}
}

@mixin list-inline-block {
	display: inline-block;
	list-style: none;
	margin: 0 0 0 1em;
	text-align: center;
}

@mixin list-inline {
	display: inline-flex;
	list-style: none;
	margin: 0 0 0 1em;
	text-align: center;

	li {
		color: $white;
		font-size: 28px;
		line-height: 1 !important;
		margin-right: 0.5rem;		
		max-width: 20%;

		ul.list.list-dash {
			li {
				color: $offwhite;
				font-size: 24px;
				margin: 15px 0 0 0 !important;
				min-width: 100%;
				text-align: center;

				&:before {
					font-size: 26px;
					margin: -1px 0px 0 -18px;
				}

				&:first-child {
					margin-top: 15px !important;
				}
			}
		}
	}
}

@mixin list-sm {
	position: absolute;
	right: -35px;
	top: -200px;

	li {
		margin-right: 1rem;

		a {
			display: inline-block;

			&:hover {
				background-size: inherit;
				background-image: none;

				img {
					opacity: 1;
					scale: 1.2;
					transition: 0.2s;
				}
			}
		}

		img {
			max-width: 130px;
			opacity: 0.85;
		}
	}
}

@mixin list-float {
	float: left;
	width: 45%;
}

@mixin screen-reader {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: $grey;
		clip: auto !important;
		clip-path: none;
		color: $black;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}


// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {

	.sr-text {
		@include screen-reader;
	}

    .slides {

    	h1 {
    		color: $plum;
    		text-align: center;
    	}

    	hr {
			border: 4px solid $blue;
			margin-bottom: 2rem;
			width: 200px;
		}

    	a {
    		background-image: linear-gradient(to bottom, $dkblue 0%, $dkblue 100%);
			-webkit-background-position: 0% 110%;
			background-position: 0% 110%;
			background-repeat: repeat-x;
			-webkit-background-size: 0px 0px;
			background-size: 0px 0px;
			border-radius: 2px;
			-webkit-transition: color 150ms,background-size 150ms;
			transition: color 150ms,background-size 150ms;
			padding: 0px 5px;

			&:hover {
				-webkit-background-size: 2px 100%;
				background-size: 2px 100%;
				-webkit-text-decoration: underline;
				text-decoration: underline;
    			text-underline-offset: 5px;
				z-index: 1;
			}

			&:focus {
				outline: 2px solid $linkColor;
				outline-offset: 2px;
				text-decoration: none;
			}
		}

		a.underline {
			&:hover {
				text-decoration: none;
			}
		}

 		.inner-slide {
 			display: flex !important;
			flex-direction: column;

			&.content-left {
				align-items: start;
			}

 			&.content-right {
				align-items: end;
			}
 		}

		.max-22 { max-width: 22% !important; }
		.max-23 { max-width: 23% !important; }
		.max-24 { max-width: 24% !important; }
		.max-25 { max-width: 25% !important; }
 		.max-26 { max-width: 26% !important; }
 		.max-28 { max-width: 28% !important; }
 		.max-30 { max-width: 30% !important; }
 		.max-32 { max-width: 32% !important; }
 		.max-34 { max-width: 34% !important; }
		.max-35 { max-width: 35% !important; }
		.max-38 { max-width: 38% !important; }
		.max-39 { max-width: 39% !important; }
 		.max-40 { max-width: 40% !important; }
 		.max-42 { max-width: 42% !important; }
 		.max-43 { max-width: 42% !important; }
		.max-44 { max-width: 44% !important; }
 		.max-45 { max-width: 45% !important; }
 		.max-46 { max-width: 46% !important; }
 		.max-47 { max-width: 47% !important; }
 		.max-48 { max-width: 48% !important; }
		.max-50 { max-width: 50% !important; }
		.max-52 { max-width: 50% !important; }
		.max-55 { max-width: 55% !important; }
		.max-60 { max-width: 60% !important; }
		.max-64 { max-width: 64% !important; }
		.max-65 { max-width: 65% !important; }
		.max-70 { max-width: 70% !important; }
		.max-75 { max-width: 75% !important; }
		.max-78 { max-width: 78% !important; }
		.max-80 { max-width: 80% !important; }
		.max-85 { max-width: 85% !important; }
		.max-90 { max-width: 90% !important; }
		.max-91 { max-width: 91% !important; }
		.max-92 { max-width: 92% !important; }
		.max-93 { max-width: 93% !important; }
		.max-94 { max-width: 94% !important; }
		.max-95 { max-width: 95% !important; }
		.max-96 { max-width: 96% !important; }
		.max-97 { max-width: 97% !important; }
		.max-98 { max-width: 98% !important; }
		.max-99 { max-width: 99% !important; }
		.max-100 { max-width: 100% !important; }

		.maxpx-80 { max-width:80px !important;}
		.maxpx-100 { max-width:100px !important;}
		.maxpx-200 { max-width:200px !important;}
		.maxpx-300 { max-width:300px !important;}
		.maxpx-350 { max-width:350px !important;}
		.maxpx-375 { max-width:375px !important;}
		.maxpx-400 { max-width:400px !important;}
		.maxpx-450 { max-width:450px !important;}

		.w47 {width: 47% !important;}

		.m0 { margin: 0 !important; }
		.mt0 { margin-top: 0 !important; }
		.mb0 { margin-bottom: 0 !important; }
		.ml0 { margin-left: 0 !important;}
		.mr0 { margin-right: 0 !important; }
		.mtb0 { margin-top: 0 !important; margin-bottom: 0 !important;}

		.mt0-25 { margin-top: 0.25rem !important; }
		.mt0-5 { margin-top: 0.5rem !important; }
		.mt0-75 { margin-top: 0.75rem !important; }
		.mt1 { margin-top: 1rem !important; }
		.mt1-25 { margin-top: 1.25rem !important; }
		.mt1-5 { margin-top: 1.5rem !important; }
		.mt1-75 { margin-top: 1.75rem !important; }
		.mt2 { margin-top: 2rem !important; }
		.mt3 { margin-top: 3rem !important; }
		.mt4 { margin-top: 4rem !important; }
		.mt7 { margin-top: 7rem !important; }
		.mt18 { margin-top: 18rem !important; }

		.mt-5px { margin-top: -5px;}

		.mb0-25 { margin-bottom: 0.25rem !important; }
		.mb0-5 { margin-bottom: 0.5rem !important; }
		.mb0-75 { margin-bottom: 0.75rem !important; }
		.mb1 { margin-bottom: 1rem !important; }
		.mb1-25 { margin-bottom: 1.25rem !important; }
		.mb1-5 { margin-bottom: 1.5rem !important; }
		.mb2 { margin-bottom: 2rem !important; }
		.mb3 { margin-bottom: 3rem !important; }
		.mb4 { margin-bottom: 4rem !important; }


		.ml1 { margin-left: 1rem !important; }
		.ml1-5 { margin-left: 1.5rem !important; }
		.ml2 { margin-left: 2rem !important; }
		.ml3 { margin-left: 3rem !important; }
		.ml4 { margin-left: 4rem !important; }
		.ml5 { margin-left: 5rem !important; }
		.ml6 { margin-left: 6rem !important; }
		.ml6-5 { margin-left: 6.5rem !important; }
		.ml7 { margin-left: 7rem !important; }
		.ml8 { margin-left: 8rem !important; }
		.ml8-5 { margin-left: 8.5rem !important; }
		.ml9 { margin-left: 9rem !important; }
		.ml10 { margin-left: 10rem !important; }
		.ml11 { margin-left: 11rem !important; }
		.ml13-5 { margin-left: 13.5rem !important; }
		.ml20 { margin-left: 20rem !important; }
		.ml24 { margin-left: 24rem !important; }

		.mr1 { margin-right: 1rem !important; }
		.mr2 { margin-right: 2rem !important; }
		.mr3 { margin-right: 3rem !important; }
		.mr4 { margin-right: 4rem !important; }
		.mr5 { margin-right: 5rem !important; }
		.mr8 { margin-right: 8rem !important; }
		.mr9 { margin-right: 9rem !important; }

		.m1 { margin: 1rem !important; }
		.m2 { margin: 2rem !important; }
		.m3 { margin: 3rem !important; }
		.m3 { margin: 4rem !important; }

		.mt-0-5 { margin-top: -0.5rem !important; }
		.mt-1 { margin-top: -1rem !important; }
		.mt-1-5 { margin-top: -1.5rem !important; }
		.mt-2 { margin-top: -2rem !important; }
		.mt-3 { margin-top: -3rem !important; }
		.mt-3 { margin-top: -3rem !important; }
		.mt-3-5 { margin-top: -3.5rem !important; }
		.mt-4 { margin-top: -4rem !important; }
		.mt-5 { margin-top: -5rem !important; }
		.mt-6 { margin-top: -6rem !important; }
		.mt-7 { margin-top: -7rem !important; }
		.mt-8 { margin-top: -8rem !important; }
		.mt-9 { margin-top: -9rem !important; }
		.mt-12 { margin-top: -12rem !important; }
		.mt-13 { margin-top: -13rem !important; }
		.mt-18 { margin-top: -18rem !important; }

		.mb-1 { margin-bottom: -1rem !important; }
		.mb-2 { margin-bottom: -2rem !important; }
		.mb-3 { margin-bottom: -3rem !important; }
		.mb-4 { margin-bottom: -4rem !important; }

		.ml-1 { margin-left: -1rem !important; }
		.ml-2 { margin-left: -2rem !important; }
		.ml-3 { margin-left: -3rem !important; }
		.ml-4 { margin-left: -4rem !important; }
		.ml-5 { margin-left: -5rem !important; }

		.mr-1 { margin-right: -1rem !important; }
		.mr-2 { margin-right: -2rem !important; }
		.mr-3 { margin-right: -3rem !important; }
		.mr-4 { margin-right: -4rem !important; }
		.mr-5 { margin-right: -5rem !important; }
		.mr-6 { margin-right: -6rem !important; }
		.mr-7 { margin-right: -7rem !important; }
		.mr-8 { margin-right: -8rem !important; }
		.mr-9 { margin-right: -9rem !important; }


		.padt0-5 { padding-top: 0.5rem !important; }
		.padt0-75 { padding-top: 0.75rem !important; }
		.padt1   { padding-top: 1rem !important; }
		.padt1-5 { padding-top: 1.5rem !important; }
		.padt2   { padding-top: 2rem !important; }
		.padt2-5 { padding-top: 2.5rem !important; }
		.padt3   { padding-top: 3rem !important; }
		.padt4   { padding-top: 4rem !important; }
		.padt5   { padding-top: 5rem !important; }

		.padb0-5 { padding-bottom: 0.5rem !important; }
		.padb1   { padding-bottom: 1rem !important; }
		.padb1-5 { padding-bottom: 1.5rem !important; }
		.padb2   { padding-bottom: 2rem !important; }
		.padb2-5 { padding-bottom: 2.5rem !important; }
		.padb3   { padding-bottom: 3rem !important; }
		.padb4   { padding-bottom: 4rem !important; }
		.padb5   { padding-bottom: 5rem !important; }		

		.padl05  { padding-left: 0.05rem !important; }
		.padl1   { padding-left: 1rem !important; }
		.padl1-5 { padding-left: 1.5rem !important; }
		.padl2   { padding-left: 2rem !important; }
		.padl2-5 { padding-left: 2.5rem !important; }
		.padl3   { padding-left: 3rem !important; }
		.padl4   { padding-left: 4rem !important; }
		.padl5   { padding-left: 5rem !important; }

		.padr05  { padding-right: 0.05rem !important; }
		.padr1   { padding-right: 1rem !important; }
		.padr1-5 { padding-right: 1.5rem !important; }
		.padr2   { padding-right: 2rem !important; }
		.padr2-5 { padding-right: 2.5rem !important; }
		.padr3   { padding-right: 3rem !important; }
		.padr4   { padding-right: 4rem !important; }
		.padr5   { padding-right: 5rem !important; }

		.br {border-right: 1px solid $white;}
		.bl {border-left: 1px solid $white;}
		.bt {border-top: 1px solid $white;}
		.bb {border-bottom: 1px solid $white;}

		.border1 { border: 1px solid !important; }

		.floatl {float: left !important; }
		.floatr {float: right !important; }

		.display-block { display: block !important; }
		.display-inline{ display: inline-block !important; }

		.lh1 {line-height: 1;}
		.lh1-1 {line-height: 1.1;}
		.lh1-2 {line-height: 1.2;}
		.lh1-3 {line-height: 1.3;}

		.pos-abs {position: absolute !important; }
		.pos-rel {position: relative !important; }

		.size65 { font-size: 65px !important; }
		.size60 { font-size: 60px !important; }
		.size55 { font-size: 55px !important; }
		.size50 { font-size: 50px !important; }
		.size45 { font-size: 45px !important; }
		.size40 { font-size: 40px !important; }
		.size35 { font-size: 35px !important; }
		.size34 { font-size: 34px !important; }
		.size32 { font-size: 32px !important; }
		.size30 { font-size: 30px !important; }
		.size29 { font-size: 29px !important; }
		.size28 { font-size: 28px !important; }
		.size27 { font-size: 27px !important; }
		.size26 { font-size: 26px !important; }
		.size25 { font-size: 25px !important; }
		.size24 { font-size: 24px !important; }
		.size22 { font-size: 22px !important; }
		.size20 { font-size: 20px !important; }
		.size19 { font-size: 19px !important; }
		.size18 { font-size: 18px !important; }
		.size17 { font-size: 17px !important; }
		.size16 { font-size: 16px !important; }

		.upperc { text-transform: uppercase; }
		.lowerc { text-transform: none; }
		.capitalize { text-transform: capitalize;}

		.white { color: $white !important; }
		.offwhite { color: $offwhite !important; }
		.ltyellow { color: $ltyellow !important; }
		.yellow { color: $yellow !important; }
		.purple { color: $purple !important; }
		.pink { color: $pink !important; }
		.plum { color: $plum !important; }
		.blue { color: $blue !important; }
		.green { color: $green !important; }
		.ltgrey { color: $ltgrey !important; }

		.alignleft { text-align: left; }
		.alignright { text-align: right; }
		.aligncenter { text-align: center; }
		.center { @include center; }
		.vatop { vertical-align: top; }
		.vacenter { vertical-align: middle; }
		.normal { font-style: normal; font-weight: 400; }

		.img-right { float: right; margin: 1rem 0 1rem 2rem}

		.bold { font-weight: 700; }
		.italic { font-style: italic; }
		.underline { text-decoration: underline; text-underline-offset: 3px; }

		ul {
			hr {
				border: 3px solid $dkblue;
				margin: 1rem auto 0.5rem;
				width: 90%;				
			}

			&.list { @include list; }
			&.list-circle { @include list-circle; }
			&.list-dash { @include list-dash; }
			&.list-check { @include list-check; }
			&.list-pointer { @include list-pointer; }
			&.list-pushpin { @include list-pushpin; }
			&.list-x { @include list-x; }			
			&.list-across { @include list-across; }
			&.list-col-two { @include list-col-two; }
			&.list-col-three { @include list-col-three; }
			&.list-definition { @include list-definition; }
			&.list-inline { @include list-inline; }
			&.list-sm { @include list-sm; }
			&.list-none { @include list-none; }

			&.resources-list,
			&.list-dash.list-float {
				li {
					&:before {
						margin: -6px 2px 0 -20px;
					}
				}
			}
		}

		.compare {
			display: inline-block;
			vertical-align: top;

			ul {
				margin-top: 0rem;
				vertical-align: top;

				li {
					line-height: 1;
					margin-top: 0.75rem;;
				}
			}
		}	

		.subheading {
			font-size: 45px;
			color: $ltyellow;
			font-family: $mainFont;
			line-height: 1;
		}

		.list-heading {
			color: $white;
			font-family: $headingFont;
			font-size: 28px;
			margin-bottom: 0.5rem;
		}

		.continued {
			color: $plum;
			display:block;
			font-size: 32px;
			font-style: italic;
			margin-left: 3rem;
			margin-top: 0;
			text-align: left;
		}

		.stat {
			color: $blue !important; 
			font-size: 44px !important;
			font-weight: 700;
			text-align: left;
		}

		.toptext {
			color: $ltyellow !important;
			font-style: italic !important;

		}

		.float-section {
			@include list-float;
		}

		.icon::before {
			display: none;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased; 
		}

		.icon-img {
			display: block;
			margin: 0.5rem auto;
		}

		.bottom-img {
			max-height: 115px;
		}

		.top-img {
			max-height: 150px;
			margin-top: -1rem;
			margin-bottom: -4rem;
		}

		.on-top {
			z-index: 9999;
		}
		ul ul {
			list-style-type: none;
		}

		.tip {
			// color: $white;
			font-size: 22px;

			span {
				color: $ltyellow !important;
				font-weight: bold;
			}
		}

		sup {
			color: $linkColor;
			font-size: 12px;
		}

		.slide-resources {
			ul {
				display: block;
			}

			a {
				padding: 0;
			}
		}

		.footnotes sup {
			color: $offwhite;
		 }

		.footnote {
		 	font-size: 18px;
		 	font-style: italic;
		 	font-weight: normal;
		 	line-height: 1.3;;
		 	margin-right: 13rem;
		 	margin-top: -1rem;
		 	text-align: right;
		}

		.circle {
			padding: 5px;

			p {
				line-height: 1.1;
			}
		}

		.circle1 {
			background-color: $blue1;
		}

		.circle2 {
			background-color: $blue2;
		}

		.circle3 {
			background-color: $blue3;
		}

		.slide-glossary {
			font-size: 24px;
			text-align: left;

			h1 {
				text-align: center;
			}

			p {
				line-height: 1.2;
			}

			ul li {
				color: $offwhite;
				line-height: 1.2;

				&:before {
					color: $blue;
					font-size: 34px;
					margin: -8px 6px 0 -22px;
				}
				p span {
					color: $ltyellow;
					text-decoration: underline;
				}
			}
		}

// Specific slide styles.

		#a11y {
			.line1 {
				p {
					line-height: 1;
					span {
						margin-right: 22rem;
					}
				}
			}
			.line2 {
				p {
					letter-spacing: 12px;
					margin-left: 12px;
					margin-top: -4.15rem;
				}
			}
			.line3 {
				margin-top: -2.75rem;
				span {
					margin-right: 17rem;
					margin-top: -3.25rem;
				}
			}
			.line4 {
				p {
					margin-top: -2.75rem;
				}
			}
			.line5 {
				letter-spacing: 8px;
				margin-top: -1.25rem;
			}
		}

		ul.list-float {
			float: left;
			width: 45%;
			margin-right: 4%;
		}


		#persona {
			img {
				outline: 1px solid $plum;
			}
		}

		code {
			color: $white;
			padding: 0 5px;
		}

		// .slide-content,
		// .slide-design {
		// 	width: 100%;

		// 	h1 {
		// 		font-size: 56px;
		// 	}

		// 	h2 {
		// 		font-size: 22px;
		// 		margin-bottom: 0.5rem;
		// 	}

		// 	.all-lists {
		// 		margin: 0 auto;
		// 	}

		// 	.compare {
		// 		border: 1px solid $grey;
		// 		margin-top: 1rem;
		// 		min-height: 210px;
		// 		padding: 15px;
		// 		width: 46%;

		// 		p {
		// 			font-size: 18px;
		// 			margin:0;
		// 		}

		// 		ul {
		// 			margin: 0 !important;
		// 			width: 85%;

		// 			li:before {
		// 				font-size: 32px;
		// 				margin-left: -22px;
		// 				margin-top: -7px;
		// 				margin-right: 0;
		// 			}
		// 		}
		// 	}

		// 	ul {
		// 		font-size: 26px;
		// 		margin-top: -2rem;

		// 		li {
		// 			font-size: 20px;
		// 			margin-top: 1rem;
		// 			margin-right: 1.5rem;
		// 		}
		// 	}

		// 	&.content {
		// 		ul li {
		// 			margin-right: 2rem;

		// 			&:first-child {
		// 				margin-top: 0;
		// 			}
		// 		}
		// 	}
		// }

		// #make {
		// 	h1 {
		// 		margin: 0 auto 2rem;
		// 		width: 70%;
		// 	}

		// 	ul li {
		// 		margin-top: 1rem;
		// 	}
		// }

		// .slide-development {
		// 	.compare {
		// 		min-height: 400px;
		// 	}
		// }

		// .slide-testing {
		// 	.compare {
		// 		width: 48%;

		// 		h1 {
		// 			font-size: 50px;
		// 		}

		// 		p {
		// 			margin-bottom: 0;
		// 			margin-top: 0;
		// 		}

		// 		ul {
		// 			margin-top: 1rem;

		// 			li {
		// 				font-size: 24px;
		// 			}
		// 		}
		// 	}
		// }

		.credits {
			ul li:before {
				content: none;
			}
		}

		#glossary {
			ul.dashlist {
				margin: 0;

				li {
					font-size: 18px;
					margin-top: 0.5rem;
				}
			}
		}

		.fragment.highlight-green.visible {
			color: $green;
		}

		.fragment.highlight-red {
			color: $blue !important;
		}
	}
}

svg {
	fill: $white;
	height: 1.4em;
	width: 1.4em;
}

.reveal .controls {
	bottom: -22px !important;
}


/* Animations */

@-webkit-keyframes move {
	0% {
		transform: translate(2000px, 500px);
	}
	20% {
		transform: translate(1500px, 300px);
	}
	40% {
		transform: translate(1000px, 375px);
	}
	60% {
		transform: translate(650px, 320px);
	}
	80% {
		transform: translate(350px, 380px);
	}
	100% {
		transform: translate(0px, 200px);
	}
}

@keyframes diagonal-move-anim {
	0% {
		transform: translate(2000px, 500px);
	}
	20% {
		transform: translate(1500px, 300px);
	}
	40% {
		transform: translate(1000px, 375px);
	}
	60% {
		transform: translate(650px, 320px);
	}
	80% {
		transform: translate(350px, 380px);
	}
	100% {
		transform: translate(0px, 200px);
	}
}


@-webkit-keyframes move-2 {
	0% {
		transform: translate(2000px, 300px);
	}
	20% {
		transform: translate(1500px, 200px);
	}
	40% {
		transform: translate(1000px, 100px);
	}
	60% {
		transform: translate(500px, -150px);
	}
	80% {
		transform: translate(250px, -300px);
	}
	100% {
		transform: translate(0px, -500px);
	}
}

@keyframes diagonal-move-anim-2 {
	0% {
		transform: translate(2000px, 300px);
	}
	20% {
		transform: translate(1500px, 200px);
	}
	40% {
		transform: translate(1000px, 100px);
	}
	60% {
		transform: translate(500px, -150px);
	}
	80% {
		transform: translate(250px, -300px);
	}
	100% {
		transform: translate(0px, -500px);
	}
}

#superman {
	// -webkit-animation: diagonal-move-anim 5s linear 3;
	// animation: diagonal-move-anim 5s infinite linear 3;
	// animation-delay: 0s;
	top: -410px;
	left: -400px;
	max-height: 350px;
	position: absolute;
}


#superman2 {
	// -webkit-animation: diagonal-move-anim 5s linear 3;
	// animation: diagonal-move-anim 5s infinite linear 3;
	// animation-delay: 0s;
	top: -410px;
	left: -400px;
	max-height: 350px;
	position: absolute;
}
